// *************************************
//
// Navigation
// -> Reusable navigation module
//
// *************************************

.Navigation {
  @include clearfix;
  @include background-image(linear-gradient(#fbe31a, #d9b20f));
  position: relative;
  margin: 0;


}

.Nav-top {
  background-color: white;
  height: 110px;
}

.Nav-bot {
  height: 66px;

}

.Nav-tel {
  float: right;
}

.logo-top, .logo-bot {
  float: left;
}
// -------------------------------------
// Module specific variables
// -------------------------------------

// Module-variableName

// -------------------------------------
// Modifiers
// -------------------------------------

// -------------------------------------
// States
// -------------------------------------

.Navigation-link.is-active {
  color: #444;
}

// -------------------------------------
// Context
// -------------------------------------

// .has-module

// -------------------------------------
// Submodules
// -------------------------------------

// ----- List item ----- //

.Navigation-listItem {
 display: block;
 float: left;
 &:first-of-type {
   margin-left: 0;
 }
 &:last-of-type {
   margin-right: 0;
   .Navigation-link {
      border-right: 0px solid black;
   }
 }
}

// ----- Navigation link ----- //

.Navigation-link {
  color: black;
  line-height: 30px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-right: 1px solid black;
  padding: 13px 15px;
  display: block;
  -webkit-transition:all 0.2s ease;
  -moz-transition:all 0.2s ease;
  -o-transition:all 0.2s ease;
  
  
  &:hover, &:focus {
    color: #888;
    text-decoration: none;
  }
}
a .Navigation-link {
  font-weight: bold;
  margin-left: 5px;
}

.Navigation-link--invertedBold {
 color: $c-white; 
 font-weight: bold;
}


.Navigation-list.is-hidden {
   display: none;
}

.Navigation-list {
   display: block;
   margin: 0;
}

.Navigation svg {
   height: 35px;
}

//---------------------------------------
// ------ ul dropdown menu style --------

.Navigation-listItem--hasDropdown {
  position: relative;
  text-decoration: none;
}

ul.Navigation-list--dropdown {
  display: block;
  height: auto;
   position: absolute;
  width: 100%;
   line-height: 40px;
   z-index: 110;
   top: 40px;
   margin-top: 17px;
   background: #d9b20f;
   opacity: 0.8;
   
   color: white;

  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    top: 43px;
    
    a {

    }
  }
  
  li.Navigation-listItem {
    display: block;
    padding: 0 2px;  
    font-size: 12px;
    margin: 0 auto;
    border:0;
    font-weight:bold;
    font-weight: bold;
   color: white;       
    a {
      background-color: transparent;
      border: 0px solid;
      font-size: 12px;
    }   
  } 
}
//---------------------------------------

.Nav-tel {
  font-weight: 600;
  line-height: 20px;
  color: #BBB; 
  p {
    font-size: 22px;
    color: #BBB;
  } 
}

.logo-top {
  max-width: 305px;
  margin-top: 15px;
}

.logo-bot {
  max-width: 295px;
  margin-top: 8px;
  margin-left: 8px;
}

.Nav-tel-ico {
  float: right;
  width: 100px;
  img {
    width: 100%;
    
  }
  
  .ico-mob {
    float: right;
    width: 35px;
    margin: 10px 10px 0 0;

  }
  
  .ico-fax {
    float: right;
    width: 51px;
    margin: 5px 5px 0 0;    
  }
}


.Bot-Nav {
  height: 60px;
  position: relative;
  @include background-image(linear-gradient(#fbe31a, #d9b20f));
}

.Navigation svg {
   height: 27px;
   fill: black;
}

//======================================================
//          @media queries - Responsiveness
//======================================================
@media all and (max-width: 1040px){
 .Navigation-link {
    border:0;
    font-weight: bold;
  }

  .Navigation {
    background: transparent;
    text-align: center;
  }

  .Navigation svg {
   height: 35px;
   fill: black;
  }

  ul.Navigation-list--dropdown {
    position: static;
  }

  .mobilesvg {
    margin-right: 20px;
  }
}

